@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('../assets/fonts/clashdisplay/ClashDisplay-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Supreme-Regular';
  src: url('../assets/fonts/supreme/Supreme-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url('../assets/fonts/satoshi/Satoshi-Medium.ttf') format('truetype');
}

