@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 dark:bg-gray-900 dark:text-white scroll-smooth;
}

.app {
  @apply min-h-[100vh] mt-16 px-[5vw] py-4 md:px-[15vw] md:py-10;
}

.header {
  @apply bg-[rgba(255,254,255,.80)] backdrop-blur dark:bg-[rgba(31,41,55,.75)] shadow dark:border-b-[1px] dark:border-b-gray-600 fixed z-10 top-0 w-full font-satoshi-medium px-4 py-4 md:px-10 md:py-4;
}

.pagination_btn {
  @apply bg-gray-100 dark:bg-gray-800 dark:text-white rounded rounded-2xl py-1 px-4 text-black disabled:bg-transparent disabled:dark:bg-transparent disabled:text-gray-500 disabled:dark:text-gray-500 disabled:px-0;
}

/* Change Tailwind Default Style Fo Blog Page */
.blog_main_content ul {
  list-style-type: disc;
  padding-left: 25px;
}

.blog_main_content ol{
  list-style-type: disc;
  padding-left: 25px;
}

.blog_main_content ul li{
  margin: 10px 0;
}

.blog_main_content a {
  @apply text-purple-600;
}

.blog_main_content h1,h2,h3,h4,h5,h6 {
  @apply mb-1 font-bold font-satoshi-medium;
}

.blog_main_content h1 {
  @apply text-3xl mt-2
}

.blog_main_content h2 {
  @apply text-2xl mt-2
}

.blog_main_content h3 {
  @apply text-xl mt-2
}

.blog_main_content h4 {
  @apply text-lg mt-2
}

.blog_main_content h5 {
  @apply text-lg mt-2
}

.blog_main_content h6 {
  @apply text-sm mt-2
}

.blog_main_content code {
  @apply rounded;
}

.blog_main_content pre {
  @apply relative my-4
}

.copy-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background-color: #444;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 0 0.5em;
  padding: 2px 4px;
  border-radius: 5px;
  font-size: 9px;
}
